# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Phase3Assignments\ExampleJunit51\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
